<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/index::head('Registrar')">
    </head>
    <body>
        <div class="root">
            <!-- Sidebar -->
            <div th:replace="~{components/app-menu::sidebar}"></div>

            <!-- Main content -->
            <main class="main-content">
                <!-- App-bar -->
                <header class="header">
                    <div th:replace="~{components/app-menu::app-bar('AÑOS ESCOLARES')}">
                    </div>
                </header>
                <div class="spacer"></div>
                <div class="content">
                    <small class="text-muted">Año escolar</small>
                    <h2 th:text="${anoEscolar.nombre}" class="text-primary"></h2>
                    <div class="ano-escolar-items">
                        <div class="row">
                            <div class="col-4">
                                <div class="ano-escolar-periodos">
                                    <h3>Periodos</h3>
                                    <ul class="list-group">
                                        <li th:each="periodo : ${anoEscolar.periodos}"
                                            th:text="${periodo.nombre}"
                                            class="list-group-item">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="ano-escolar-grados">
                                    <h3>Grados</h3>
                                    <ul class="list-group">
                                        <li th:each="grado : ${anoEscolar.grados}"
                                            th:text="${grado.nombre}"
                                            class="list-group-item">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Scripts -->
        <th:block th:replace="/index::scripts">
        </th:block>
    </body>
</html>