<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/index::head('Matriculas')">
    </head>
    <body>
        <div class="root">
            <!-- Sidebar -->
            <div th:replace="~{components/app-menu::sidebar}"></div>

            <!-- Main content -->
            <main class="main-content">
                <!-- App-bar -->
                <header class="header">
                    <div th:replace="~{components/app-menu::app-bar('MATRICULAS')}">
                    </div>
                </header>
                <div class="spacer"></div>
                <div class="content">
                    <h2 class="text-primary">Tabla de matriculas</h2>
                    <div class="table-container">
                        <div class="jx-table">
                            <div class="jx-table-toolbar">
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/matriculas/registrar/paso-uno}" class="btn btn-primary">
                                            Registrar matricula
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <form method="post">
                                            <div class="form-row">
                                                <div class="col-auto">
                                                    <input class="form-control" name="nombre" type="text" placeholder="Nombre"/>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-primary" type="submit">Buscar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Codigo de alumno</th>
                                        <th scope="col">Nombre completo</th>
                                        <th scope="col">Año escolar</th>
                                        <th scope="col">Grado</th>
                                        <th scope="col">Sección</th>
                                        <th scope="col">Fecha de inscripción</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="matricula : ${matriculas}">
                                        <td th:text="${matricula.alumno.id}"></td>
                                        <th:block th:object="${matricula.alumno.persona}">
                                            <td th:text="|*{nombres} *{apellidoPaterno} *{apellidoMaterno}|"></td>
                                        </th:block>
                                        <td th:text="${matricula.anoEscolar.nombre}"></td>
                                        <td th:text="${matricula.grado.nombre}"></td>
                                        <td th:text="${matricula.seccion.nombre}"></td>
                                        <td th:text="${matricula.fechaInscripcion}"></td>
                                        <td th:text="${matricula.estado}"></td>
                                        <td th:with="baseUrl = @{/matriculas/inscripcion}">
                                            <div class="form-row">
                                                <div class="col-auto">
                                                    <a th:href="@{${baseUrl}
                                                       (ano-escolar-id=${matricula.anoEscolar.id}, alumno-id=${matricula.alumno.id})}"
                                                       class="btn btn-primary text-white">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a th:href="@{(${baseUrl} + '/editar')
                                                       (ano-escolar-id=${matricula.anoEscolar.id}, alumno-id=${matricula.alumno.id})}"
                                                       class="btn btn-success text-white">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a th:href="@{(${baseUrl} + '/remover')
                                                       (ano-escolar-id=${matricula.anoEscolar.id}, alumno-id=${matricula.alumno.id})}"
                                                       class="btn btn-outline-danger text-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Scripts -->
        <th:block th:replace="/index::scripts">
        </th:block>
    </body>
</html>