<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/index::head('Registrar')">
    </head>
    <body>
        <div class="root">
            <!-- Sidebar -->
            <div th:replace="~{components/app-menu::sidebar}"></div>

            <!-- Main content -->
            <main class="main-content">
                <!-- App-bar -->
                <header class="header">
                    <div th:replace="~{components/app-menu::app-bar('PERIODOS ESCOLARES')}">
                    </div>
                </header>
                <div class="spacer"></div>
                <div class="content">
                    <h2 class="text-primary">Registrar periodo escolar</h2>
                    <form th:object="${periodo}" class="jx-form" method="post">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input th:field="*{nombre}" class="form-control" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label>Año escolar</label>
                                    <select th:field="*{anoEscolar}" class="form-control">
                                        <option th:value="null" selected>
                                            --Selecciona un año escolar--
                                        </option>
                                        <option th:each="anoEscolar : ${anosEscolares}"
                                                th:value="${anoEscolar.id}"
                                                th:text="${anoEscolar.nombre}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Estado</label>
                                    <input th:field="*{estado}" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col">
                                            <button class="btn btn-primary btn-block" type="submit">
                                                Registrar
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-outline-info btn-block go-back-btn" type="button">
                                                Volver atrás
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>

        <!-- Scripts -->
        <th:block th:replace="/index::scripts">
        </th:block>
    </body>
</html>