<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/index::head('Cursos Docente')">
    </head>
    <body>
        <div class="root">
            <!-- Sidebar -->
            <div th:replace="~{components/app-menu::sidebar}"></div>

            <!-- Main content -->
            <main class="main-content">
                <!-- App-bar -->
                <header class="header">
                    <div th:replace="~{components/app-menu::app-bar('CURSOS DOCENTE')}">
                    </div>
                </header>
                <div class="spacer"></div>
                <div class="content">
                    <h2 class="text-primary">Tabla de cursos de docentes</h2>
                    <div class="table-container">
                        <div class="jx-table">
                            <div class="jx-table-toolbar">
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/cursopedia/cursos-docente/registrar/paso-uno}" class="btn btn-primary">
                                            Registrar curso docente
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <form method="post">
                                            <div class="form-row">
                                                <div class="col-auto">
                                                    <input class="form-control" name="nombre" type="text" placeholder="Nombre"/>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-primary" type="submit">Buscar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Curso</th>
                                        <th scope="col">Docente</th>
                                        <th scope="col">Grado</th>
                                        <th scope="col">Sección</th>
                                        <th scope="col">Fecha de asignación</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cursoDocente : ${cursosDocente}">
                                        <td th:text="${cursoDocente.curso.nombre}"></td>
                                        <th:block th:object="${cursoDocente.docente.persona}">
                                            <td th:text="|*{nombres} *{apellidoPaterno} *{apellidoMaterno}|"></td>
                                        </th:block>
                                        <td th:text="${cursoDocente.seccion.grado.nombre}"></td>
                                        <td th:text="${cursoDocente.seccion.nombre}"></td>
                                        <td th:text="${cursoDocente.fechaAsignacion}"></td>
                                        <td th:with="baseUrl = @{/cursos-docente/asignacion}">
                                            <div class="form-row">
                                                <div class="col-auto">
                                                    <a th:href="@{${baseUrl}(curso-id=${cursoDocente.id.cursoId},
                                                       seccion-id=${cursoDocente.id.seccionId},
                                                       docente-id=${cursoDocente.id.docenteId})}"
                                                       class="btn btn-primary text-white">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a th:href="@{(${baseUrl} + '/editar')(curso-id=${cursoDocente.id.cursoId},
                                                       seccion-id=${cursoDocente.id.seccionId},
                                                       docente-id=${cursoDocente.id.docenteId})}"
                                                       class="btn btn-success text-white">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a th:href="@{(${baseUrl} + '/remover')(curso-id=${cursoDocente.id.cursoId},
                                                       seccion-id=${cursoDocente.id.seccionId},
                                                       docente-id=${cursoDocente.id.docenteId})}"
                                                       class="btn btn-outline-danger text-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Scripts -->
        <th:block th:replace="/index::scripts">
        </th:block>
    </body>
</html>